body{
    background-image: url("../images/Seinfeld_logo.png");
    background-repeat: repeat;
    background-size: 180px 180px;
    margin: 0px;

}

nav{

    background-image: url("../images/seinfeld-header3.jpg"); 
    width: 88% !important;
    height: 370px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 4px;
    border: solid 1px;
    background-repeat: repeat;

}

.nav-extended{
    font-family: 'Archivo Narrow', sans-serif; 
    color: #d50000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 50px;

    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}


.nav-title{
    font-size: 70px !important;

}

.nav-wrapper{
    padding-bottom: 100px;
}


nav .nav-title{
    padding: 0 !important;
}

.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
  opacity: 5;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #38a;
}

.question{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
  button{
    font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: #279;
      color: #fff;
      border: 0px;
      border-radius: 3px;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 20px;
  }
  button:hover{
      background-color: #38a;
  }
  
  
  
  
  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }